.startPage {
    background-image: url(../images/sven-wilhelm-2cRXSWyMHA8-unsplash.png);
    padding-top: 20px;
    height: 900px;
}
body {
    background-color: black;
}
.NavList {
    display: flex;
    justify-content: space-around;
    align-items: center;       
}
.mainLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NavList a {
    color: white;
    font-size: 30px; 
    font-weight: lighter;
}
.mainLogo a {
    font-size: 34px;
    font-weight:bolder
}

.rightBox :nth-child(1) {  
    position: fixed;
    bottom: 117px;
    right: 98px;
    z-index: 1;
    opacity: 0.1;
}
.rightBox :nth-child(2) {    
    height: 800px;
    z-index: 10;
    position: fixed;
    right: 375px;
    bottom: 30px;
}
.leftBox {
    color: white;
    max-width: 710px;
    margin-top: 273px;
    margin-left: 278px;
}
.leftBox p {
    font-size: 30px;
}
.leftBox h1 {
    font-size: 78px;
    margin-bottom: 26px;
}
.leftBox a {
    color: white;
    font-weight: lighter;
}
.leftBox i {
    color: #1C1C1C;
    margin-left: 41px;
}